{% extends 'master.html' %}
{% block Head %}
    <script>
        $(document).ready(function () {
            //script for menu
            $('#abm').attr('class', 'active');
            //script for menu

            //$('#guardar').click(function () {
               
                    //$.post('abm', {idUser: this.id}, function (response) {});
                    //window.setTimeout('location.reload()', 200);
                            
            //});

            {% for us in usuarios %}
                var tr = $('<tr>').appendTo($('#tbody'));
                $('<td>').text('{{us.username}}').appendTo(tr);
                $('<td>').text('{{us.first_name}}').appendTo(tr);
                $('<td>').text('{{us.last_name}}').appendTo(tr);
                $('<td>').text('{{us.email}}').appendTo(tr);
                //$('<td>').text('{us.direccion}}').appendTo(tr);
                $('<td>').text('{{us.userprofile.empresa}}').appendTo(tr);
                var silos = $('<td>').appendTo(tr);
                var combo = $('<select>').appendTo(silos);
                {% for p in puestos %}
                    {% if p.user == us %}
                        $('<option name="{{ p.user }}" value={{ p.silo.id }}>').text('{{ p.silo.ip_asignada }}').appendTo(combo);
                    {% endif %}
                {% endfor %}
                ope="Sin asignar";
                {% if us.is_superuser %}
                    ope = 'Super Usuario';
                {% else %}   
                    {% if us.is_staff %}                
                        ope = 'Administrador'; 
                    {% else %} 
                        ope = 'Operario';  
                    {% endif %} 
                {% endif %}
                $('<td>').text(ope).appendTo(tr);
                var accion = $('<td>').appendTo(tr);
                {% if us.is_superuser != True %}                    
                    $('<button id="{{ us.id }}" title="Editar" class="editar"><img src="static/images/editar.png" alt="Editar">').appendTo(accion);
                    {% if user.id != us.id %}
                        $('<button id="{{ us.id }}" title="Borrar" class="borrar"><img src="static/images/remove.png" alt="Borrar">').appendTo(accion);
                    {% endif %}
                {% endif %}
            {% endfor %}

            $('#example').dataTable();
            $('#example').on('click', '.editar', function () {
                $('#id_usuarioHidden').val(this.id);
                $('[name=itemSilo]').each(function (k, y) { // deselecciona todos los silos
                    $(this).prop('selected', false);
                });
                {% for us in usuarios %}
                    if ({{ us.id }} == this.id) {
                        $('#id_usuario').val('{{ us.username }}');
                        $('#id_password').val();
                        $('#id_email').val('{{ us.email }}');
                        $('#id_nombre').val('{{ us.first_name }}');
                        $('#id_apellido').val('{{ us.last_name }}');
                        //$('#id_direccion').val();
                        {% for p in puestos %}
                            {% if p.user == us %}
                                $('[name=itemSilo]').each(function (k, y) {                               
                                    if ('{{ p.silo.id}}' == y.value) {
                                        $(this).prop('selected', true);
                                    }
                                });
                            {% endif %}
                        {% endfor %}
                    }
                {% endfor %}
            });
            $('#example').on('click', '.borrar', function () {
                if (confirm("Esta seguro de Borrar el Usuario?")) {
                    $.post('borrarUsuario', {idUser: this.id}, function (response) {

                    });
                    window.setTimeout('location.reload()', 50);
                }
            });            
        });
    </script>
    <style>
        table.dataTable {
            background-color: forestgreen;
        }

        .editar {
            background-color: yellow;
            width: 50%;
            height: 150%;
        }

        .borrar {
            background-color: yellow;
            width: 50%;
            height: 150%;
        }
    </style>
{% endblock %}
{% block Contenido %}
    <!-- content-section-starts -->
    <div class="service-section">
        <div class="container">
            <h3>Altas</h3>

            <div class="cont">
                <form action="" method="POST">
                    {% csrf_token %}                  
                    <div id="rcorners" class="container col-md-4 col-md-offset-4">
                        <div class="form-group">
                            <label class="required" for="id_usuario">Usuario:</label>
                            <input class="vTextField form-control" id="id_usuario" placeholder="Usuario" maxlength="50"
                                   name="usuario"
                                   type="text"
                                   required>
                            <label for="id_password">Password</label>
                            <input type="Password" class="vTextField form-control" id="id_password"
                                   placeholder="Password"
                                   name="password">
                            <label class="required" for="id_email">Email:</label>
                            <input class="vTextField form-control" id="id_email" placeholder="Email" maxlength="50"
                                   name="email"
                                   type="email" required>                           
                        </div>
                        <div class="form-group">
                            <label class="required" for="id_nombre">Nombre:</label>
                            <input class="vTextField form-control" id="id_nombre" placeholder="Nombre" maxlength="50"
                                   name="nombre"
                                   type="text" required>

                            <label class="required" for="id_apellido">Apellido:</label>
                            <input class="vTextField form-control" id="id_apellido" placeholder="Apellido"
                                   maxlength="50"
                                   name="apellido"
                                   type="text" required>                    
                            <label for="id_silo">Silos:</label>
                            <select id="id_silo" name="silo" size="3" multiple class="form-control">
                                {% for s in silos %}
                                    {% if user.is_superuser %}
                                        <option name="itemSilo"
                                                value="{{ s.id }}">{{ s.ip_asignada }} "{{ s.empresa }}"</option>
                                    {% else %}
                                        <option name="itemSilo" value="{{ s.id }}">{{ s.ip_asignada }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <input id="id_usuarioHidden" name="usuarioHidden" type="hidden" value="">

                    <div class="contactgrid2 col-md-4 col-md-offset-4">
                        <input id="guardar" type="submit" value="Guardar" class="navbar-btn btn-primary form-control"
                               name="save">
                    </div>               
                </form>
            </div>
        </div>
        <div class="container">
            <h3>Listado De Usuarios</h3>

            <div id="msg"></div>
            <div id="listUsuarios">
                <table id="example" class="dataTable" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <!--<th>Direccion</th>-->
                        <th>Empresa</th>
                        <th>Silo</th>
                        <th>Operario</th>
                        <th>Accion</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <!--<th>Direccion</th>-->
                        <th>Empresa</th>
                        <th>Silo</th>
                        <th>Operario</th>
                        <th>Accion</th>
                    </tr>
                    </tfoot>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}