{% extends 'master.html' %}
{% block Head %}
    <link rel="stylesheet" href="../static/css/swipebox.css" xmlns="http://www.w3.org/1999/html">
    <script src="../static/js/jquery.swipebox.min.js"></script>
    <script src="../static/js/jquery.timer.js"></script>
    <script src="../static/js/highcharts.js"></script>
    <script src="../static/js/highcharts-more.js"></script>
    <script type="text/javascript">
        var PORT = "80";
        var NoSeleccionSilo = true;
        $(document).ready(function () {
            jQuery(function ($) {
                $(".swipebox").swipebox();
            });
            //script for menu
            $('#index').attr('class', 'active');
            //script for menu

            $('#dropSilos').change(function () {
                $('#contSensores').html("");
                if ($('#dropSilos').val() != "") {
                    var ip = $('#dropSilos option:selected').html().split(' ')[0];
                    $.post('traerSensores', {idSilo: $('#dropSilos').val()}, function (response) {
                        var i = 1;
                        var fila = 1;
                        var entrar = true;
                        responseJson = jQuery.parseJSON(response);
                        var div1;
                        $.each(responseJson, function (index, item) {
                            if (entrar) {
                                div1 = $('<div class="service-grid' + fila + '">').appendTo($('#contSensores'));
                                fila++;
                                entrar = false;
                            } else {
                                if (i % 2 == 0) {
                                    entrar = true;
                                }
                            }
                            var div2 = $('<div class="col-md-6 service-grid">').appendTo(div1);
                            $('<h4>Sensor ' + i + '</h4>').appendTo(div2);
                            $('<div id="grafico' + i + '">').appendTo(div2);
                            graficarSensor('grafico' + i, 'sensor' + i, ip);
                            i++;
                        });
                    });
                }
            });
            setTimeout('verifica()', 500);
        });

        function graficarSensor(grafico, sensor, IpSilo) {
            $('#' + grafico).highcharts({
                        chart: {
                            type: 'gauge',
                            plotBackgroundColor: 0,
                            plotBackgroundImage: null,
                            plotBorderWidth: 0,
                            plotShadow: false
                        },

                        title: {
                            text: 'Temperatura y Humedad'
                        },

                        pane: {
                            startAngle: -150,
                            endAngle: 150,
                            background: [{
                                backgroundColor: {
                                    linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                                    stops: [
                                        [0, '#FFF'],
                                        [1, '#333']
                                    ]
                                },
                                borderWidth: 0,
                                outerRadius: '109%'
                            }, {
                                backgroundColor: {
                                    linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                                    stops: [
                                        [0, '#333'],
                                        [1, '#FFF']
                                    ]
                                },
                                borderWidth: 1,
                                outerRadius: '107%'
                            }, {
                                // default background
                            }, {
                                backgroundColor: '#DDD',
                                borderWidth: 0,
                                outerRadius: '105%',
                                innerRadius: '103%'
                            }]
                        },

                        // the value axis
                        yAxis: [{
                            min: 0,
                            max: 40,

                            tickPosition: 'outside',
                            lineWidth: 2,
                            minorTickInterval: 'auto',
                            minorTickWidth: 1,
                            minorTickLength: 10,
                            minorTickPosition: 'outside',
                            minorTickColor: '#666',

                            tickPixelInterval: 30,
                            tickWidth: 2,
                            tickPosition: 'outside',
                            tickLength: 10,
                            tickColor: '#666',
                            labels: {
                                step: 2,
                                rotation: 'auto'
                            },
                            title: {
                                text: '%',
                                x: 0, y: 140,

                            },
                            plotBands: [{
                                from: 0,
                                to: 20,
                                color: '#55BF3B' // green
                            }, {
                                from: 20,
                                to: 26,
                                color: '#DDDF0D' // yellow
                            }, {
                                from: 26,
                                to: 40,
                                color: '#DF5353' // red
                            }]
                        }, {
                            min: 0,
                            max: 100,

                            tickPosition: 'outside',
                            minorTickInterval: 'auto',
                            minorTickWidth: 1,
                            minorTickLength: 10,
                            minorTickPosition: 'outside',
                            minorTickColor: '#666',
                            tickPixelInterval: 30,
                            tickWidth: 2,
                            tickPosition: 'outside',
                            tickLength: 10,
                            tickColor: '#666',
                            offset: -70,
                            labels: {
                                step: 2,
                                rotation: 'auto',
                            },
                            title: {
                                text: 'Cº',
                                x: 0, y: -25,
                            },
                            plotBands: [{
                                from: 0,
                                to: 30,
                                color: '#55BF3B' // green
                            }, {
                                from: 30,
                                to: 60,
                                color: '#DDDF0D' // yellow
                            }, {
                                from: 60,
                                to: 100,
                                color: '#DF5353' // red
                            }]
                        }],

                        series: [{
                            name: 'Temperatura',
                            data: [0],
                            dataLabels: {
                                borderWidth: 2,
                                borderColor: 'blue',
                                padding: 5,
                                borderRadius: 2,
                                verticalAlign: 'center',
                                y: 110,
                                style: {
                                    fontWeight: 'normal'
                                }
                            },
                            dial: {
                                radius: "90%",
                                rearLength: "10%",
                                backgroundColor: 'blue',
                                borderColor: 'black',
                                borderWidth: 1,
                                baseWidth: 10,
                                topWidth: 1,
                                baseLength: '90%', // of radius
                            },
                            color: 'blue',
                            tooltip: {
                                valueSuffix: ' Cº'

                            }
                        }, {
                            name: 'Humedad',
                            data: [0],
                            dataLabels: {
                                borderWidth: 2,
                                borderColor: 'silver',
                                padding: 5,
                                borderRadius: 2,
                                verticalAlign: 'center',
                                y: 50,
                                enabled: false,
                                style: {
                                    fontWeight: 'normal'
                                }
                            },
                            dial: {
                                radius: "30%",
                                rearLength: "5%",
                                backgroundColor: 'silver',
                                borderColor: 'black',
                                borderWidth: 1,
                                baseWidth: 10,
                                topWidth: 1,
                                baseLength: '30%', // of radius
                            },
                            color: 'silver',
                            tooltip: {
                                valueSuffix: ' %',

                            }
                        }]

                    },
                    // Add some life
                    function (chart) {
                        if (!chart.renderer.forExport) {
                            if ($('#dropSilos').val() != "") {
                                var primeraVez = true;
                                var errorConexion = false;
                                setInterval(function () {
                                    if ($('#dropSilos option:selected').html().split(' ')[0] == IpSilo && !errorConexion) {
                                        var url = "http://" + IpSilo + ":" + PORT;
                                        var head = document.getElementsByTagName("head")[0];
                                        $('#scriptArduino').remove();
                                        var script = document.createElement("script");
                                        script.type = "text/javascript";
                                        script.src = url;
                                        script.id = "scriptArduino";
                                        head.appendChild(script);
                                        var point = chart.series[0].points[0],
                                                newVal;
                                        var pointHum = chart.series[1].points[0], newValH;
                                        if (primeraVez) {
                                            newVal = 48;
                                            newValH = 96;// - (15 * 0.6);
                                            primeraVez = false;
                                        } else {
                                            try {
                                                if (sensor == "sensor1") {
                                                    newVal = t1;
                                                    newValH = h1 - (h1 * 0.6);
                                                }
                                                if (sensor == "sensor2") {
                                                    newVal = t2;
                                                    newValH = h2 - (h2 * 0.6);
                                                }
                                                if (sensor == "sensor3") {
                                                    newVal = t3;
                                                    newValH = h3 - (h3 * 0.6);
                                                }
                                                if (sensor == "sensor4") {
                                                    newVal = t4;
                                                    newValH = h4 - (h4 * 0.6);
                                                }
                                            }
                                            catch (error) {
                                                errorConexion = true;
                                                $('#msg2').text('Error al establecer conexion...').show().fadeOut(10000);
                                                setTimeout('$("#dropSilos").val("")', 500);
                                                setTimeout('$("#contSensores").html("")', 900);
                                                $('#scriptArduino').remove();
                                            }
                                        }
                                        point.update(newVal);
                                        pointHum.update(newValH);
                                    }
                                }, 3000);
                            } else {
                                NoSeleccionSilo = true;
                            }
                        }
                    });
        }
        function verifica() {
            if (NoSeleccionSilo) {
                $('#msg').text('Seleccione un Silo para visualizar sus metricas...').show().fadeOut(8000);
            }
        }
    </script>
{% endblock %}
{% block Contenido %}
    <div class="service-section">
        <div class="container">
            <h3>Datos Tiempo Real</h3>

            <div class="cont form-group">
                <div class="col-md-4 col-md-offset-4">
                    <select id="dropSilos" class="form-control"> <!--Agregar los Silos dependiendo del Usuario-->
                        <option value="">Seleccionar Silo...</option>
                        {% for s in silos %}
                            {% if user.is_superuser %}
                                <option name="itemSilo"
                                        value="{{ s.id }}">{{ s.ip_asignada }} "{{ s.empresa }}"
                                </option>
                            {% else %}
                                <option name="itemSilo" value="{{ s.id }}">{{ s.ip_asignada }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>
            </br>

            <div id="msg" style="display: none;">
            </div>
            <div id="msg2" style="display: none;">
            </div>


            <div id="contSensores" class="service-grids" style="min-height: 42%">
               
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
{% endblock %}