{% extends 'master.html' %}
{% block Head %}
    <script type="text/javascript" src="../static/js/DashBoard.js?1.1.0"></script>
    <script type="text/javascript" src="../static/js/highcharts.js?1.1.0"></script>
    <script type="text/javascript" src="../static/js/highcharts-more.js?1.1.0"></script>
    <script>
        var obj1 = new Object();
        var obj2 = new Object();
        var obj3 = new Object();
        var obj4 = new Object();
        var f = false;
        $(document).ready(function () {
            //script for menu
            $('#statistics').attr('class', 'active');
            //script for menu
            $('#prueba').click(function () {
                if (f) {
                    $('#col').addClass('col-md-6');
                    f = false;
                } else {
                    $('#col').removeClass('col-md-6');
                    f = true;
                }
                graficar();
            });

            $('#btnRenderReporte').click(function () {
                graficar();
            });

            $('#linkCerrar1').click(function () {
                $('#PanelGrafico1').css('display', 'none');
                $('#opciones1').css('display', 'none');
                inicializaFiltro('1');
            });

            $('#linkCerrar2').click(function () {
                $('#PanelGrafico2').css('display', 'none');
                $('#opciones2').css('display', 'none');
                inicializaFiltro('2');
            });

            $('#linkCerrar3').click(function () {
                $('#PanelGrafico3').css('display', 'none');
                $('#opciones3').css('display', 'none');
                inicializaFiltro('3');
            });

            $('#linkCerrar4').click(function () {
                $('#PanelGrafico4').css('display', 'none');
                $('#opciones4').css('display', 'none');
                inicializaFiltro('4');
            });

            $('#dropTiposGraficos1').change(function () {
                setGraficoTabla(obj1, '#grafico1', $('#dropTiposGraficos1').val());
            });

            $('#dropTiposGraficos2').change(function () {
                setGraficoTabla(obj2, '#grafico2', $('#dropTiposGraficos2').val());
            });

            $('#dropTiposGraficos3').change(function () {
                setGraficoTabla(obj3, '#grafico3', $('#dropTiposGraficos3').val());
            });

            $('#dropTiposGraficos4').change(function () {
                setGraficoTabla(obj4, '#grafico4', $('#dropTiposGraficos4').val());
            });

            $('#openZoom1').click(function () {
                zoomIn();
                setGraficoTabla(obj1, "#zoomGraf", $('#dropTiposGraficos1').val());
            });
            $('#openZoom2').click(function () {
                zoomIn();
                setGraficoTabla(obj2, "#zoomGraf", $('#dropTiposGraficos2').val());
            });
            $('#openZoom3').click(function () {
                zoomIn();
                setGraficoTabla(obj3, "#zoomGraf", $('#dropTiposGraficos3').val());
            });
            $('#openZoom4').click(function () {
                zoomIn();
                setGraficoTabla(obj4, "#zoomGraf", $('#dropTiposGraficos4').val());
            });
            $('#close').click(function () {
                zoomOut();
            });

            $('[name=rdbGraficos]').change(function () {
                if (this.id == 1) {
                    getFiltro(obj1)
                }
                if (this.id == 2) {
                    getFiltro(obj2)
                }
                if (this.id == 3) {
                    getFiltro(obj3)
                }
                if (this.id == 4) {
                    getFiltro(obj4)
                }
            });


        })
        ;

        function getFiltro(o) {
            $('#dropSilos').val(o.silo);
            $('#id_FechaDesde').val(o.fechaDesde);
            $('#id_FechaHasta').val(o.fechaHasta);
            $("#dropConsultas").val(o.consulta);
        }

        function setFiltro(o, objGuardar) {
            objGuardar.grafico = o.grafico;
            objGuardar.silo = o.silo;
            objGuardar.fechaDesde = o.fechaDesde;
            objGuardar.fechaHasta = o.fechaHasta;
            objGuardar.consulta = o.consulta;
        }


        function inicializaFiltro(numeroFiltro) {
            var objIni = new Object();
            var d = new Date();
            objIni.grafico = numeroFiltro;
            objIni.silo = "";
            objIni.fechaDesde = d.getDate() + '/' + (d.getMonth() + 1) + '/' + (d.getFullYear() - 1);
            objIni.fechaHasta = d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear();
            objIni.consulta = "";
            getFiltro(objIni);
            $('[name=rdbGraficos]').each(function () {
                if (this.id == numeroFiltro) {
                    this.checked = true;
                }
            });
            if (numeroFiltro == "1")
                setFiltro(objIni, obj1);
            if (numeroFiltro == "2")
                setFiltro(objIni, obj2);
            if (numeroFiltro == "3")
                setFiltro(objIni, obj3);
            if (numeroFiltro == "4")
                setFiltro(objIni, obj4);
        }

        function guardarFiltro(tObj) {
            if (tObj.grafico == 1)
                setFiltro(tObj, obj1);
            if (tObj.grafico == 2)
                setFiltro(tObj, obj2);
            if (tObj.grafico == 3)
                setFiltro(tObj, obj3);
            if (tObj.grafico == 4)
                setFiltro(tObj, obj4);
        }

        function setGraficoTabla(dataFiltro, DOMGraf, TipoGrafico) {
            $.post('graficarDash', {
                grafico: dataFiltro.grafico,
                silo: dataFiltro.silo,
                fechaDesde: dataFiltro.fechaDesde,
                fechaHasta: dataFiltro.fechaHasta,
                consulta: dataFiltro.consulta
            }, function (response) {
                responseJson = jQuery.parseJSON(response);
                var alertas = [];
                var obj;
                $.each(responseJson, function (index, item) {
                    obj = new Object();
                    obj.sensor = "Sensor" + item.fields.sensor;
                    obj.tiempo = item.fields.tiempo;
                    obj.temperatura = item.fields.temperatura;
                    obj.humedad = item.fields.humedad;
                    obj.es_alerta = item.fields.es_alerta;
                    alertas.push(obj);
                });

                var highcharts = new Object();
                highcharts.series = [];
                highcharts.categories = [];

                var nombres = [];
                var t = "";
                var h = "";
                var flag = true; // para no poner categorias repetidas debido a tener tem y hum para un mismo sensor.
                $.each(alertas, function (index, item) {
                    if (flag) {
                        highcharts.categories.push(item.tiempo.substring(0, item.tiempo.length - 3));
                        flag = false;
                    } else {
                        flag = true;
                    }
                    t = item.sensor + "T";
                    h = item.sensor + "H";
                    if (jQuery.inArray(t, nombres) == -1) {
                        nombres.push(t);
                    }
                    if (jQuery.inArray(h, nombres) == -1) {
                        nombres.push(h);
                    }
                });

                var highchartsSeries;
                var sen = "";
                var medi = "";
                $.each(nombres, function (k, y) {
                    highchartsSeries = new Object();
                    highchartsSeries.name = y;
                    highchartsSeries.data = [];
                    sen = y.substring(0, y.length - 1);
                    medi = y.substring(y.length - 1, y.length);
                    $.each(alertas, function (index, item) {
                        if (item.sensor == sen && medi == "T") {
                            highchartsSeries.data.push(item.temperatura);
                        }
                        if (item.sensor == sen && medi == "H") {
                            highchartsSeries.data.push(item.humedad);
                        }
                    });
                    highcharts.series.push(highchartsSeries);
                });
                //console.log(highcharts.series.reverse());
                {#                highchartsSeries.name = 'jorge';#}
                {#                highchartsSeries.data.push(5);#}
                {#                highchartsSeries.data.push(20);#}
                {#                highchartsSeries.data.push(55);#}
                {#                highchartsSeries.data.push(1);#}


                {#                tiempo = []#}
                {#                nombresSensor = []#}
                {#                for (s in sensores) {#}
                {#                    if (!s.nombre in nombresSensor#}
                {#                    ) {#}
                {#                        nombresSensor.append(s.nombre)#}
                {#                    }#}
                {##}
                {#                }#}


                {#                nombre = ''#}
                {#                for n in nombresSensor:#}
                {#                queryset = list(querysetPrin.filter(nombre = n))#}
                {#                sen = []#}
                {#                for s in queryset:#}
                {#                if s.tiempo.date() not in tiempo#}
                {#                :#}
                {#                tiempo.append(s.tiempo.date())#}
                {#                sen.append(s)#}
                {#                nombre = s.nombre#}
                {#                else:#}
                {#                if s.nombre != nombre:#}
                {#                sen.append(s)#}
                {##}
                {#                item = HighchartSeries()#}
                {#                item.name = sen[0].nombre#}
                {#                for aux in sen:#}
                {#                item.data.append(sen[0].temperatura)#}
                {#                viewModel.series.append(item)#}
                {#                viewModel.categories = tiempo#}


                //$('<option value="' + item.fields.ip_asignada + '">').text(item.fields.ip_asignada).appendTo(combo);
                //   htmlTable += "<tr><td>" + v.mes + "</td><td>" + v.tipoGestion + "</td><td>" + v.cantidad + "</td></tr>";


                //var insertarTabla = true;
                //var data = $.parseJSON($(msg).find("string").text());
                //var htmlTable = "";
                //htmlTable += "<h3>Resultados</h3>";
                //htmlTable += "<h5>" + dataFiltro.grafico + "</h5>";
                //htmlTable += "<table class='tabla'><thead><tr><th>Mes</th><th>TipoGestion</th><th>Cantidad</th></tr></thead><tbody>";
                //$.each(responseJson, function (k, y) {
                //$('<option value="' + item.fields.ip_asignada + '">').text(item.fields.ip_asignada).appendTo(combo);
                //   htmlTable += "<tr><td>" + v.mes + "</td><td>" + v.tipoGestion + "</td><td>" + v.cantidad + "</td></tr>";
                //});
                renderDash(highcharts, DOMGraf, TipoGrafico);
                //if (insertarTabla) {
                //   htmlTable += "</tbody></table>";
                //   $(DOMTable).html(htmlTable);
                // }
            });

            {#            $.ajax({#}
            {#                url: "graficarDash",#}
            {#                Type: "Post",#}
            {#                data: {#}
            {#                    grafico: dataFiltro.grafico,#}
            {#                    silo: dataFiltro.silo,#}
            {#                    fechaDesde: dataFiltro.fechaDesde,#}
            {#                    fechaHasta: dataFiltro.fechaHasta#}
            {#                },#}
            {#                async: false,#}
            {#                success: function (msg) {#}
            {#                    var insertarTabla = true;#}
            {#                    var data = $.parseJSON($(msg).find("string").text());#}
            {#                    var htmlTable = "";#}
            {#                    htmlTable += "<h3>Resultados</h3>";#}
            {#                    htmlTable += "<h5>" + dataFiltro.leyenda + "</h5>";#}
            {#                    htmlTable += "<table class='tabla'><thead><tr><th>Mes</th><th>TipoGestion</th><th>Cantidad</th></tr></thead><tbody>";#}
            {#                    $.each(data.TableResult, function (k, v) {#}
            {#                        htmlTable += "<tr><td>" + v.mes + "</td><td>" + v.tipoGestion + "</td><td>" + v.cantidad + "</td></tr>";#}
            {#                    });#}
            {#                    renderDash(data, DOMGraf, TipoGrafico);#}
            {#                    if (insertarTabla) {#}
            {#                        htmlTable += "</tbody></table>";#}
            {#                        $(DOMTable).html(htmlTable);#}
            {#                    }#}
            {#                },#}
            {#                error: function () {#}
            {#                    alert('Se ha producido un error. Verifique que los datos sean correctos');#}
            {#                },#}
            {#            });#}
        }

        function getFiltrosControl() {
            var obj = new Object();
            $('[name=rdbGraficos]').each(function () {
                if (this.checked) {
                    obj.grafico = this.id;
                }
            });
            obj.silo = $('#dropSilos').val();
            obj.fechaDesde = $('#id_FechaDesde').val();
            obj.fechaHasta = $('#id_FechaHasta').val();
            obj.consulta = $('#dropConsultas').val();
            return obj;
        }

        function zoomIn() {
            $('#popup').fadeIn('slow');
            $('.popup-overlay').fadeIn('slow');
            $('.popup-overlay').height($(window).height());
            return false;
        }

        function zoomOut() {
            $('#popup').fadeOut('slow');
            $('.popup-overlay').fadeOut('slow');
            return false;
        }

        function validar_fechaDesdeMenorHasta(inicio, final) {
            var d = new Date();
            var hoy = ("0" + d.getDate()).slice(-2) + '/' + ("0" + (d.getMonth() + 1)).slice(-2) + '/' + d.getFullYear();
            var actual = hoy.split('/');
            var obj3 = new Date(actual[1] + "/" + actual[0] + "/" + actual[2]);
            if (final != "" && inicio != "") {
                var fin = final.split('-');
                var obj2 = new Date(fin[1] + "/" + fin[2].split('T')[0] + "/" + fin[0]);
                if (obj2 > obj3) {
                    alert('La fecha hasta no puede ser mayor a hoy.');
                    return 1;
                }
                if (inicio != "") {
                    var ini = inicio.split('-');
                    var obj1 = new Date(ini[1] + "/" + ini[2].split('T')[0] + "/" + ini[0]);

                    if (obj1 > obj2) {
                        alert('La fecha desde no puede ser mayor que la fecha hasta');
                        return 1;
                    }
                }
            } else {
                alert('Debe ingresar las Fechas');
                return 1;
            }
            return 0;
        }

        function graficar() {
            var obj = getFiltrosControl();
            var DOMGraf = "";
            var fechaCorrecta = validar_fechaDesdeMenorHasta(obj.fechaDesde, obj.fechaHasta);
            if (fechaCorrecta == 0) {
                if (obj.silo != "") {
                    if (obj.consulta != "") {
                        if (obj.grafico == "1") {
                            DOMGraf = "#grafico1";
                            $('#PanelGrafico1').css('display', 'inline');
                            $('#opciones1').css('display', 'inline');
                            $('#dropTiposGraficos1').val('columna');

                        }
                        if (obj.grafico == "2") {
                            DOMGraf = "#grafico2";
                            $('#PanelGrafico2').css('display', 'inline');
                            $('#opciones2').css('display', 'inline');
                            $('#dropTiposGraficos2').val('columna');
                        }
                        if (obj.grafico == "3") {
                            DOMGraf = "#grafico3";
                            $('#PanelGrafico3').css('display', 'inline');
                            $('#opciones3').css('display', 'inline');
                            $('#dropTiposGraficos3').val('columna');
                        }
                        if (obj.grafico == "4") {
                            DOMGraf = "#grafico4";
                            $('#PanelGrafico4').css('display', 'inline');
                            $('#opciones4').css('display', 'inline');
                            $('#dropTiposGraficos4').val('columna');
                        }
                        guardarFiltro(obj);
                        setGraficoTabla(obj, DOMGraf, 'columna');
                    } else {
                        alert('Debe seleccionar una Consulta');
                    }
                } else {
                    alert('Debe seleccionar un Silo Primero');
                }
            }
        }

    </script>
    <style>
        .p {
            display: none
        }

        .content-popup {
            margin: 0px auto;
            position: relative;
            padding: 10px;
            width: 1000px;
            min-height: 500px;
            border-radius: 4px;
            background-color: #FFFFFF;
            box-shadow: 0 2px 5px #666666;
        }

        .content-popup h2 {
            color: #48484B;
            border-bottom: 1px solid #48484B;
            margin-top: 0;
            padding-bottom: 4px;
        }

        #popup {
            text-align: center;
            vertical-align: middle;
            margin: 0px auto;
            margin-top: 200px;
            margin-left: 15%;
            z-index: 999;
            position: fixed;
            border-radius: 4px;
            background-color: #666666;
            box-shadow: 0 2px 5px #AAFF99;
        }

        .popup-overlay {
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 999;
            display: none;
            background-color: #777777;
            cursor: pointer;
            opacity: 0.7;
        }

        .close {
            position: absolute;
            right: 15px;
        }

        .indicador {
            left: 0px;
            top: 0px;
            position: absolute;
        }

        .opciones {
            float: left;
            top: 25px;
            display: none;
            position: absolute;
        }

        .marco {
            height: 400px;
            border: solid;
            position: relative;
        }
    </style>
    <div id="popup" style="display: none;">
        <div class="content-popup container">
            <div class="close">
                <a href="#" id="close">
                    <img src="static/images/icon_cerrar.png" border="0" alt="Cerrar" title="Cerrar" width="25"
                         height="25"/></a></div>
            <br/>
            <br/>

            <div>
                <div id="zoomGraf">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block Contenido %}
    <!-- content-section-starts -->
    <div id="principal" class="service-section">
        <div class="container">
            <h3>Estadisticas</h3>
            <input id="prueba" type="button" value="cambiar">

            <div id="divIndicadorYFiltros" class="cont">
                <div id="divFiltros" class="container-fluid">
                    <div class="form-group">
                        <label class="required">Grafico:</label>
                        Graf. 1<input type="radio" id="1" name="rdbGraficos"
                                      checked="true">
                        Graf. 2<input type="radio" id="2" name="rdbGraficos">
                        Graf. 3<input type="radio" id="3" name="rdbGraficos">
                        Graf. 4<input type="radio" id="4" name="rdbGraficos">
                    </div>
                    <div class="form-group">
                        <label class="required" for="dropSilos">Silo:</label>
                        <select id="dropSilos">
                            <!--Agregar los Silos dependiendo del Usuario y la Empresa-->
                            <option Value="">Seleccionar Silo...</option>
                            {% for s in silos %}
                                <option value="{{ s.ip_asignada }}">{{ s.ip_asignada }}</option>
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="dropConsultas">
                            <option Value="">Seleccionar Consulta...</option>
                            <option value="alerta">Alertas</option>
                            <option value="periodica">Periodicas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div id="divFechaDesde" class="form-row field-fecha">
                            <label class="required" for="id_fecha_0">Fecha Desde:</label>
                            <span id="lblErrorFechaDesde"></span>
                            <input class="vDateField" id="id_FechaDesde" name="fechaDesde"
                                   size="10"
                                   type="datetime-local">
                            <img src="/static/images/icon_calendar.png" alt="Calendar">
                        </div>
                        <div id="divFechaHasta" class="form-row field-fecha">
                            <label class="required" for="id_fecha_0">Fecha Hasta:</label>
                            <span id="lblErrorFechaHasta"></span>
                            <input class="vDateField" id="id_FechaHasta" name="fechaHasta"
                                   size="10"
                                   type="datetime-local">
                            <img src="/static/images/icon_calendar.png" alt="Calendar">
                        </div>
                    </div>
                </div>
                <div class="contactgrid2">
                    <input type="button" id="btnRenderReporte" value="Generar Reporte"/>
                </div>
            </div>
        </div>
    </div>

    <div class="service-grids ">
        <div class="service-grid1">
            <div id="col" class="col-md-6 service-grid">
                {#                       primer grafico#}
                <div id="Marco1" class="marco">
                    <div id="PanelGrafico1"
                         style="height: 100%; overflow: hidden; display: none;">
                        <div id="tabGraf1" style="height: 100%; width: 100%;">
                            <div id="grafico1">
                            </div>
                            <div id="tipoGrafico1" align="center">
                                <select id="dropTiposGraficos1">
                                    <option value="columna">Columna</option>
                                    <option value="barra">Barra</option>
                                    {#                                    <option value="torta">Circular</option>#}
                                    <option value="linea">Linea</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="opciones1" class="opciones">
                        <div>
                            <a href="#" id="openZoom1">
                                <img src="static/images/icon_ampliar.png" border="0"
                                     alt="Ampliar"
                                     title="Ampliar"
                                     width="25"
                                     height="25"/></a>
                        </div>
                        <div>
                            <a id="linkCerrar1" onclick="linkCerrar1_Click">
                                <img src="static/images/icon_cerrar.png" border="0"
                                     alt="Cerrar"
                                     title="Cerrar" width="25" height="25"/></a>
                        </div>
                    </div>
                    <div class="indicador">
                        <img src="static/images/icon_panel1.png" border="0" alt="Panel"
                             title="Panel" width="25"
                             height="25"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6 service-grid">
                {#                        segundo grafico#}
                <div id="Marco2" class="marco">
                    <div id="PanelGrafico2"
                         style="height: 400px; overflow: hidden; display: none;">
                        <div id="tabGraf2" style="height: 100%; width: 100%;">
                            <div id="grafico2" style="height: 100%; width: 100%;"
                                 align="center">
                            </div>
                            <div id="tipoGrafico2" align="center">
                                <select id="dropTiposGraficos2">
                                    <option value="columna">Columna</option>
                                    <option value="barra">Barra</option>
                                    {#                                    <option value="torta">Circular</option>#}
                                    <option value="linea">Linea</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div id="opciones2" class="opciones">
                        <div>
                            <a href="#" id="openZoom2">
                                <img src="static/images/icon_ampliar.png" border="0"
                                     alt="Ampliar"
                                     title="Ampliar"
                                     width="25"
                                     height="25"/></a>
                        </div>
                        <div>
                            <a id="linkCerrar2" onclick="linkCerrar2_Click">
                                <img src="static/images/icon_cerrar.png" border="0"
                                     alt="Cerrar"
                                     title="Cerrar" width="25" height="25"/></a>
                        </div>
                    </div>
                    <div class="indicador">
                        <img src="static/images/icon_panel2.png" border="0" alt="Panel"
                             title="Panel"
                             width="25"
                             height="25"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="service-grid2 opacDiv">
            <div class="col-md-6 service-grid ">
                {#                   tercer grafico#}
                <div id="Marco3" class="marco">
                    <div id="PanelGrafico3"
                         style="height: 400px; overflow: hidden; display: none;">
                        <div id="tabGraf3" style="height: 100%; width: 100%;">
                            <div id="grafico3" style="height: 100%; width: 100%;"
                                 align="center">
                            </div>
                            <div id="tipoGrafico3" align="center">
                                <select id="dropTiposGraficos3">
                                    <option value="columna">Columna</option>
                                    <option value="barra">Barra</option>
                                    {#                                <option value="torta">Circular</option>#}
                                    <option value="linea">Linea</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div id="opciones3" class="opciones">
                        <div>
                            <a href="#" id="openZoom3">
                                <img src="static/images/icon_ampliar.png" border="0"
                                     alt="Ampliar"
                                     title="Ampliar"
                                     width="25"
                                     height="25"/></a>
                        </div>
                        <div>
                            <a id="linkCerrar3" onclick="linkCerrar3_Click">
                                <img src="static/images/icon_cerrar.png" border="0"
                                     alt="Cerrar"
                                     title="Cerrar" width="25" height="25"/></a>
                        </div>
                    </div>
                    <div class="indicador">
                        <img src="static/images/icon_panel3.png" border="0" alt="Panel"
                             title="Panel"
                             width="25"
                             height="25"/>
                    </div>
                </div>
            </div>

            <div class="col-md-6 service-grid">
                {#                cuarto grafico#}
                <div id="Marco4" class="marco">
                    <div id="PanelGrafico4"
                         style="height: 400px; overflow: hidden; display: none;">
                        <div id="tabGraf4" style="height: 100%; width: 100%;">
                            <div id="grafico4" style="height: 100%; width: 100%;"
                                 align="center">
                            </div>
                            <div id="tipoGrafico4" align="center">
                                <select id="dropTiposGraficos4">
                                    <option value="columna">Columna</option>
                                    <option value="barra">Barra</option>
                                    {#                            <option value="torta">Circular</option>#}
                                    <option value="linea">Linea</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="opciones4" class="opciones">
                        <div>
                            <a href="#" id="openZoom4">
                                <img src="static/images/icon_ampliar.png" border="0"
                                     alt="Ampliar"
                                     title="Ampliar"
                                     width="25"
                                     height="25"/></a>
                        </div>
                        <div>
                            <a id="linkCerrar4" onclick="linkCerrar4_Click">
                                <img src="static/images/icon_cerrar.png" border="0"
                                     alt="Cerrar"
                                     title="Cerrar" width="25" height="25"/></a>
                        </div>
                    </div>
                    <div class="indicador">
                        <img src="static/images/icon_panel4.png" border="0" alt="Panel"
                             title="Panel"
                             width="25"
                             height="25"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <br><br>
{% endblock %}